@model CoronaEveryday.Models.CoronaRecieve

@{
    ViewData["Title"] = "IndexAsync";
}
<style>
    .line-header {
        height: 40px;
        background: none;
        line-height: 40px;
    }

        .line-header .title-header {
            font-size: 20px;
            font-weight: bold;
        }

    .line-box-number {
        margin-top: 10px;
    }

        .line-box-number .box-number {
            border-radius: 6px;
            box-shadow: 2px 4px 7px 2px #b1a9a9;
            height: 50px;
            overflow: hidden;
            background-color: #fff;
        }
.line-box-number .box-outline{
    padding:0;
    margin-left: 10px;;
}
.line-box-number .box-outline:first-child{
    margin-left: 0;
}


    .box-number .title {
        font-size: 11px;
        padding-left: 5px;
        padding-top: 3px;
        font-weight: bold;
    }

    .box-number .number {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin-top: 3px;
        color: #464545;
    }

    .box-number .left-column, .box-number .right-column {
        float: left;
    }

    .box-number .left-column {
        height: 100%;
        width: 2%;
    }

    .box-number .right-column {
        width: 98%;
    }

    .line-box-number .new-confirm .left-column {
        background-color: #cb31f1;
    }

    .line-box-number .new-confirm .right-column .title {
        color: #cb31f1;
    }

    .line-box-number .total-confirm .left-column {
        background-color: #ff0052;
    }

    .line-box-number .total-confirm .right-column .title {
        color: #ff0052;
    }

    .line-box-number .new-death .left-column {
        background-color: #0066ff;
    }

    .line-box-number .new-death .right-column .title {
        color: #0066ff;
    }

    .line-box-number .total-death .left-column {
        background-color: #38a3a9;
    }

    .line-box-number .total-death .right-column .title {
        color: #38a3a9;
    }

    .line-box-number .new-recovered .left-column {
        background-color: #bfb538;
    }

    .line-box-number .new-recovered .right-column .title {
        color: #bfb538;
    }

    .line-box-number .total-recovered .left-column {
        background-color: #03a9f4;
    }

    .line-box-number .total-recovered .right-column .title {
        color: #03a9f4;
    }


    .table-panel, .bar-chart {
        border-radius: 10px;
        box-shadow: 2px 4px 7px 2px #b1a9a9;
        margin-top: 20px;
        overflow: hidden;
        background-color: #fff;
        padding-bottom: 20px;
    }


    #table-country {
        overflow: auto;
        height: 400px;
        margin-top: 20px;
    }

        #table-country table {
            font-size: 11px;
        }
        table thead tr th{
            text-align: center;
            background-color: #c0d6e8;
        }
     #table-country   table tbody td, #table-country table thead th{
            padding:5px !important;
            vertical-align:middle !important;
        }


        #table-country #table-detail_paginate .paginate_button{
    background: linear-gradient(to bottom, #fff 0%, #bcc8f3 100%);
    padding: 3px;
        }

        #table-detail_filter input[type="search"]{
            height:30px;
        }

</style>


<div class="row line-box-number">

    <div class="col-sm box-outline">
        <div class="box-number new-confirm">
            <div class="left-column">&nbsp;</div>
            <div class="right-column">
                <div class="title"><i class="fas fa-user"></i>&nbsp; @Html.DisplayNameFor(x => x.Global.NewConfirmed)</div>
                <div class="number"> @Html.DisplayFor(x => x.Global.NewConfirmed)</div>
            </div>

        </div>
    </div>
    <div class="col-sm box-outline">
        <div class="box-number total-confirm">
            <div class="left-column">&nbsp;</div>
            <div class="right-column">
                <div class="title"><i class="fas fa-user"></i>&nbsp; @Html.DisplayNameFor(x => x.Global.TotalConfirmed)</div>
                <div class="number">@Html.DisplayFor(x => x.Global.TotalConfirmed)</div>
            </div>

        </div>
    </div>
    <div class="col-sm box-outline">
        <div class="box-number new-death">
            <div class="left-column">&nbsp;</div>
            <div class="right-column">
                <div class="title"><i class="fas fa-user-slash"></i>&nbsp;@Html.DisplayNameFor(x => x.Global.NewDeaths)</div>
                <div class="number">@Html.DisplayFor(x => x.Global.NewDeaths)</div>
            </div>

        </div>
    </div>
    <div class="col-sm box-outline">
        <div class="box-number total-death">
            <div class="left-column">&nbsp;</div>
            <div class="right-column">
                <div class="title"><i class="fas fa-user-slash"></i>&nbsp;@Html.DisplayNameFor(x => x.Global.TotalDeaths)</div>
                <div class="number">@Html.DisplayFor(x => x.Global.TotalDeaths)</div>
            </div>

        </div>
    </div>
    <div class="col-sm box-outline">
        <div class="box-number new-recovered">
            <div class="left-column">&nbsp;</div>
            <div class="right-column">
                <div class="title"><i class="fas fa-user-tie"></i>&nbsp;@Html.DisplayNameFor(x => x.Global.NewRecovered)</div>
                <div class="number">@Html.DisplayFor(x => x.Global.NewRecovered)</div>
            </div>

        </div>
    </div>
    <div class="col-sm box-outline">
        <div class="box-number total-recovered">
            <div class="left-column">&nbsp;</div>
            <div class="right-column">
                <div class="title"><i class="fas fa-user-tie"></i>&nbsp;@Html.DisplayNameFor(x => x.Global.TotalRecovered)</div>
                <div class="number">@Html.DisplayFor(x => x.Global.TotalRecovered)</div>
            </div>

        </div>
    </div>


</div>



<div class="row  table-panel">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12 line-header"><span class="title-header">Danh sách chi tiết</span></div>
        </div>
        <div id="table-country">
<<<<<<< HEAD
            <table class="table table-sm table-bordered table-striped" id="table-detail">
=======
            <table class="table table-sm table-bordered">
>>>>>>> e297f337ea4e1541bdc32d5eb759ab607ca7bbdb
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Countries[0].Country)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Countries[0].CountryCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Countries[0].NewConfirmed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Countries[0].TotalConfirmed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Countries[0].NewDeaths)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Countries[0].TotalDeaths)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Countries[0].NewRecovered)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Countries[0].TotalRecovered)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Countries[0].Date)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Countries)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CountryCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewConfirmed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalConfirmed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewDeaths)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalDeaths)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewRecovered)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalRecovered)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row bar-chart">
     <div class="col-lg-12">
        <canvas id="chart-canvas" height="400" width="800"></canvas>
     </div>
</div>

@section Scripts{
    <script>
        (function ($) {
            var main = function(){
                var render_table = function(){
                    $('#table-detail').DataTable(
                                    {
                                        "info":false,
                                        "lengthChange":false,
                                        "pageLength": 25,
                                        "pagingType": "full_numbers",
                                        "language":{
                                            "search":"Tìm kiếm",
                                        }
                                    }
                                );
                };
                var render_bar_chart = function(){
                    var ctx = $('#chart-canvas').getContext('2d');
                    var bar_chart = new Chart(ctx,{
                        type: 'bar',
                        data: {
                            labels: ["2015-01", "2015-02", "2015-03", "2015-04", "2015-05", "2015-06", "2015-07", "2015-08", "2015-09", "2015-10", "2015-11", "2015-12"],
                            datasets: [{
                                label: '# of Tomatoes',
                                data: [12, 19, 3, 5, 2, 3, 20, 3, 5, 6, 2, 1],
                            }],
                        },
                    });
                    
                };

                var run = function(){
                    this.render_table();
                    this.render_bar_chart();
                };

                run();
            };
            
            new main();



        })($)
    </script>
}